<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <link rel="stylesheet" href="./public/css">
    <title>Budgtr items</title>
</head>
<body>
    <div class="container">

        <!-- budgets.key giving an undefined errors -->

        <h1><%= budget.name %></h1>
    
        <a href="/budgets"> <button>Back to Budgtr</button></a><br>
    
        <!-- showing each item in budgets  -->
        <h5> Date</h5>
        <p><%= budget.date %></p>

        <h5> Name</h5>
        <p><%= budget.name %></p>

        <h5> From</h5>
        <p><%= budget.from %></p>

        <h5> Amount</h5>
        <p><%= budget.amount %></p>

        <h5> Tags</h5>
        <p><%= budget.tags %></p>

    </div>
    
</body>
</html>